<a href="https://colab.research.google.com/github/sumantsharma16/Deep-learning/blob/main/Credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [16]:
# Loading the data
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [17]:
# first five rows
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [18]:
# last 5 rows
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
160575,113471.0,2.055797,-0.326668,-2.752041,-0.842316,2.463072,3.173856,-0.432126,0.727706,0.608606,...,0.269765,0.844627,0.020675,0.726212,0.366624,-0.398828,0.027735,-0.060282,1.00,0.0
160576,113471.0,2.027248,-0.123314,-3.187138,-0.603106,2.685489,3.011201,-0.370792,0.722885,0.439019,...,0.198270,0.607648,0.011628,0.637274,0.286212,-0.081426,0.014987,-0.036266,12.14,0.0
160577,113471.0,-0.904898,1.131663,2.877922,4.645120,-0.684800,2.522137,-1.218386,1.178994,-0.383132,...,0.039884,0.559305,-0.438575,-0.960073,0.329436,0.739082,0.314542,0.086706,12.91,0.0
160578,113472.0,1.997105,0.449015,-2.478946,1.430360,1.144331,-0.773339,0.717322,-0.334020,0.109623,...,-0.039439,0.042502,-0.056210,0.297646,0.518700,-0.507040,-0.005483,-0.019878,35.95,0.0
160579,113472.0,-1.390029,-0.276928,0.183191,-0.009842,-0.993441,0.704187,3.179594,-0.718665,-0.716430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160580 entries, 0 to 160579
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    160580 non-null  float64
 1   V1      160580 non-null  float64
 2   V2      160580 non-null  float64
 3   V3      160580 non-null  float64
 4   V4      160580 non-null  float64
 5   V5      160580 non-null  float64
 6   V6      160580 non-null  float64
 7   V7      160580 non-null  float64
 8   V8      160580 non-null  float64
 9   V9      160580 non-null  float64
 10  V10     160579 non-null  float64
 11  V11     160579 non-null  float64
 12  V12     160579 non-null  float64
 13  V13     160579 non-null  float64
 14  V14     160579 non-null  float64
 15  V15     160579 non-null  float64
 16  V16     160579 non-null  float64
 17  V17     160579 non-null  float64
 18  V18     160579 non-null  float64
 19  V19     160579 non-null  float64
 20  V20     160579 non-null  float64
 21  V21     160579 non-null  float64
 22  V22     160579 non-null  float64
 23  V23     160579 non-null  float64
 24  V24     160579 non-null  float64
 25  V25     160579 non-null  float64
 26  V26     160579 non-null  float64
 27  V27     160579 non-null  float64
 28  V28     160579 non-null  float64
 29  Amount  160579 non-null  float64
 30  Class   160579 non-null  float64
dtypes: float64(31)
memory usage: 38.0 MB

In [20]:
# checking the missing values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [21]:
credit_card_data.dropna()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160574,113469.0,1.977569,-1.266205,-0.649009,-0.914577,-1.014584,-0.117451,-1.035486,0.058460,-0.149023,...,0.418268,1.046292,0.095034,0.805221,-0.194471,-0.152012,-0.012784,-0.037054,89.99,0.0
160575,113471.0,2.055797,-0.326668,-2.752041,-0.842316,2.463072,3.173856,-0.432126,0.727706,0.608606,...,0.269765,0.844627,0.020675,0.726212,0.366624,-0.398828,0.027735,-0.060282,1.00,0.0
160576,113471.0,2.027248,-0.123314,-3.187138,-0.603106,2.685489,3.011201,-0.370792,0.722885,0.439019,...,0.198270,0.607648,0.011628,0.637274,0.286212,-0.081426,0.014987,-0.036266,12.14,0.0
160577,113471.0,-0.904898,1.131663,2.877922,4.645120,-0.684800,2.522137,-1.218386,1.178994,-0.383132,...,0.039884,0.559305,-0.438575,-0.960073,0.329436,0.739082,0.314542,0.086706,12.91,0.0
160578,113472.0,1.997105,0.449015,-2.478946,1.430360,1.144331,-0.773339,0.717322,-0.334020,0.109623,...,-0.039439,0.042502,-0.056210,0.297646,0.518700,-0.507040,-0.005483,-0.019878,35.95,0.0

In [24]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [25]:
# distribution of legit transaction and fraudlent transcation
credit_card_data['Class'].value_counts()

0.0    160223
1.0       356
Name: Class, dtype: int64

this data set is highly unbalanced dataset

In [26]:
# seprating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class ==1]

In [27]:
print(legit.shape)
print(fraud.shape)

(160223, 31)
(356, 31)

In [28]:
# statistical measure of the data
credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,160580.000000,160580.000000,160580.000000,160580.000000,160580.000000,160580.000000,160580.000000,160580.000000,160580.000000,160580.000000,...,160579.000000,160579.000000,160579.000000,160579.000000,160579.000000,160579.000000,160579.000000,160579.000000,160579.000000,160579.000000
mean,57480.545242,-0.207315,0.051732,0.565654,0.137480,-0.208785,0.065082,-0.094873,0.041622,0.021107,...,-0.035850,-0.100085,-0.026058,0.010271,0.106234,0.014743,0.001845,0.002501,87.343062,0.002217
std,24648.739896,1.845212,1.615910,1.355699,1.360672,1.333667,1.291085,1.210891,1.239136,1.161060,...,0.745918,0.655277,0.585846,0.596814,0.455527,0.493072,0.392889,0.310177,245.159473,0.047033
min,0.000000,-56.407510,-72.715728,-33.680984,-5.519697,-42.147898,-26.160506,-43.557242,-73.216718,-13.434066,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-11.710896,0.000000,0.000000
25%,40115.750000,-1.005531,-0.528291,0.039585,-0.718119,-0.851388,-0.681213,-0.592292,-0.153410,-0.662940,...,-0.231759,-0.549532,-0.171314,-0.328744,-0.173936,-0.330606,-0.064278,-0.016428,5.450000,0.000000
50%,58415.500000,-0.232236,0.120630,0.675769,0.147207,-0.253136,-0.194186,-0.041671,0.064074,-0.083914,...,-0.059066,-0.079427,-0.039814,0.062089,0.149179,-0.060187,0.009761,0.022106,21.500000,0.000000
75%,75826.250000,1.173304,0.811237,1.326370,0.960994,0.329968,0.452844,0.446030,0.359376,0.651366,...,0.117804,0.337116,0.092439,0.413072,0.406889,0.279121,0.089580,0.078114,76.710000,0.000000
max,113472.000000,2.439207,22.057729,9.382558,16.875344,34.801666,22.529298,36.677268,20.007208,15.594995,...,27.202839,10.503090,19.002942,4.022866,7.519589,3.517346,12.152401,33.847808,19656.530000,1.000000

In [29]:
legit.Amount.describe()

count    160223.000000
mean         87.288266
std         245.193096
min           0.000000
25%           5.480000
50%          21.520000
75%          76.565000
max       19656.530000
Name: Amount, dtype: float64

In [30]:
fraud.Amount.describe()

count     356.000000
mean      112.005000
std       228.517058
min         0.000000
25%         1.000000
50%         9.905000
75%       102.125000
max      1809.680000
Name: Amount, dtype: float64

In [31]:
# compare the value for both transaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,57483.554571,-0.194310,0.042030,0.584704,0.126895,-0.199462,0.068435,-0.079423,0.039991,0.027569,...,0.033749,-0.037635,-0.100268,-0.026016,0.010458,0.106291,0.014694,0.001446,0.002408,87.288266
1.0,55968.873596,-6.057284,4.419181,-8.006879,4.902106,-4.402531,-1.445960,-7.057336,0.778068,-2.884994,...,0.413879,0.767732,-0.017997,-0.045050,-0.073773,0.080805,0.036841,0.181541,0.044143,112.005000

under sampling

build a sample dataset containing similar distribution of normal transaction and fraud transaction

number of fraud transaction

In [32]:
legit_sample = legit.sample(n=492)

concatenating the two data frame

In [33]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [34]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
55213,46837.0,-0.841804,-0.520522,1.230060,1.669649,0.067170,-0.954806,-0.015132,-0.097567,0.212081,...,0.048670,0.762593,1.099652,0.761854,-1.071399,0.432777,0.287701,0.136127,10.00,0.0
94194,64776.0,1.085717,-0.142507,1.382927,1.185348,-1.163904,-0.305062,-0.686810,0.086808,0.711103,...,0.276324,0.768611,-0.104263,0.406959,0.352605,-0.258861,0.068858,0.050498,48.15,0.0
118316,75036.0,1.222938,0.209983,-0.197963,0.261017,0.470779,0.407764,-0.065336,0.125026,-0.226461,...,-0.270108,-0.786489,-0.017510,-1.175298,0.279890,0.175820,-0.011680,0.009129,17.28,0.0
131920,79789.0,0.006493,0.336794,1.390042,0.907099,0.147121,-0.026340,0.428255,-0.011648,-0.320454,...,0.071193,0.286319,0.416493,0.180561,-1.455122,-0.790346,0.068641,-0.035054,49.00,0.0
856,650.0,-0.440732,1.032815,1.367832,-0.055192,0.156301,-0.301038,0.539671,0.203222,-0.660625,...,-0.171483,-0.431693,0.031401,0.170349,-0.293095,0.071746,0.257613,0.086598,4.95,0.0

In [35]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
156990,109298.0,-1.000611,3.346850,-5.534491,6.835802,-0.299803,0.095951,-2.440419,1.286301,-2.766438,...,0.439757,-0.694099,0.299660,-0.657601,0.101648,0.430457,0.824685,0.326952,186.13,1.0
157585,110087.0,1.934946,0.650678,-0.286957,3.987828,0.316052,-0.099449,-0.021483,-0.172327,0.508730,...,-0.173602,-0.190974,0.219976,-0.216597,-0.136692,-0.129954,-0.050077,-0.051082,1.00,1.0
157868,110547.0,-1.532810,2.232752,-5.923100,3.386708,-0.153443,-1.419748,-3.878576,1.444656,-1.465542,...,0.632505,-0.070838,-0.490291,-0.359983,0.050678,1.095671,0.471741,-0.106667,0.76,1.0
157871,110552.0,-2.450367,2.107729,-5.140663,1.411304,-1.690780,-0.736427,-3.657946,1.944906,-0.788388,...,0.800538,0.364617,0.233608,-0.282078,-0.320311,0.492920,0.359976,-0.115471,80.22,1.0
157918,110617.0,-1.101035,-1.674928,-0.573388,5.617556,0.765556,0.440607,1.934740,-1.019788,-0.193244,...,-0.412526,-0.208823,0.344833,1.091435,-0.686513,0.075809,0.033865,-0.832855,635.10,1.0

In [36]:
new_dataset['Class'].value_counts()

0.0    492
1.0    356
Name: Class, dtype: int64

In [37]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,56368.953252,-0.167765,-0.068094,0.577947,0.132018,-0.244254,0.030953,-0.068907,-0.015620,0.037002,...,-0.014128,-0.037241,-0.105978,-0.087845,-0.005554,0.133314,-0.005226,-0.021251,-0.000741,94.360467
1.0,55968.873596,-6.057284,4.419181,-8.006879,4.902106,-4.402531,-1.445960,-7.057336,0.778068,-2.884994,...,0.413879,0.767732,-0.017997,-0.045050,-0.073773,0.080805,0.036841,0.181541,0.044143,112.005000

In [41]:
# splitting the data into feature and target
x = new_dataset.drop(columns='Class', axis=1)
y = new_dataset['Class']

In [42]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
55213    46837.0 -0.841804 -0.520522  1.230060  1.669649  0.067170 -0.954806
94194    64776.0  1.085717 -0.142507  1.382927  1.185348 -1.163904 -0.305062
118316   75036.0  1.222938  0.209983 -0.197963  0.261017  0.470779  0.407764
131920   79789.0  0.006493  0.336794  1.390042  0.907099  0.147121 -0.026340
856        650.0 -0.440732  1.032815  1.367832 -0.055192  0.156301 -0.301038
...          ...       ...       ...       ...       ...       ...       ...
156990  109298.0 -1.000611  3.346850 -5.534491  6.835802 -0.299803  0.095951
157585  110087.0  1.934946  0.650678 -0.286957  3.987828  0.316052 -0.099449
157868  110547.0 -1.532810  2.232752 -5.923100  3.386708 -0.153443 -1.419748
157871  110552.0 -2.450367  2.107729 -5.140663  1.411304 -1.690780 -0.736427
157918  110617.0 -1.101035 -1.674928 -0.573388  5.617556  0.765556  0.440607

              V7        V8        V9  ...       V20       V21       V22  \
55213  -0.015132 -0.097567  0.212081  ... -0.119882  0.048670  0.762593
94194  -0.686810  0.086808  0.711103  ... -0.027748  0.276324  0.768611
118316 -0.065336  0.125026 -0.226461  ... -0.000789 -0.270108 -0.786489
131920  0.428255 -0.011648 -0.320454  ...  0.124211  0.071193  0.286319
856     0.539671  0.203222 -0.660625  ...  0.083396 -0.171483 -0.431693
...          ...       ...       ...  ...       ...       ...       ...
156990 -2.440419  1.286301 -2.766438  ...  1.189814  0.439757 -0.694099
157585 -0.021483 -0.172327  0.508730  ... -0.344452 -0.173602 -0.190974
157868 -3.878576  1.444656 -1.465542  ...  0.520840  0.632505 -0.070838
157871 -3.657946  1.944906 -0.788388  ... -0.130438  0.800538  0.364617
157918  1.934740 -1.019788 -0.193244  ... -0.038314 -0.412526 -0.208823

             V23       V24       V25       V26       V27       V28  Amount
55213   1.099652  0.761854 -1.071399  0.432777  0.287701  0.136127   10.00
94194  -0.104263  0.406959  0.352605 -0.258861  0.068858  0.050498   48.15
118316 -0.017510 -1.175298  0.279890  0.175820 -0.011680  0.009129   17.28
131920  0.416493  0.180561 -1.455122 -0.790346  0.068641 -0.035054   49.00
856     0.031401  0.170349 -0.293095  0.071746  0.257613  0.086598    4.95
...          ...       ...       ...       ...       ...       ...     ...
156990  0.299660 -0.657601  0.101648  0.430457  0.824685  0.326952  186.13
157585  0.219976 -0.216597 -0.136692 -0.129954 -0.050077 -0.051082    1.00
157868 -0.490291 -0.359983  0.050678  1.095671  0.471741 -0.106667    0.76
157871  0.233608 -0.282078 -0.320311  0.492920  0.359976 -0.115471   80.22
157918  0.344833  1.091435 -0.686513  0.075809  0.033865 -0.832855  635.10

[848 rows x 30 columns]

In [43]:
print(y)

55213     0.0
94194     0.0
118316    0.0
131920    0.0
856       0.0
         ...
156990    1.0
157585    1.0
157868    1.0
157871    1.0
157918    1.0
Name: Class, Length: 848, dtype: float64

In [44]:
# splitting the data into trainig and testing data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=20,stratify=y)

In [45]:
print(x.shape, x_train.shape, x_test.shape)

(848, 30) (678, 30) (170, 30)

Model Training

Logistic Regression

In [46]:
model = LogisticRegression()

In [47]:
# training the logistic regression model with training data
model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

# Model Evaluation

Accuracy score

In [50]:
# accuracy on training data
x_train_prediction = model.predict(x_train)
train_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [53]:
print('Accuracy on Training data : ', train_data_accuracy)

Accuracy on Training data :  0.9469026548672567

In [54]:
# accuracy on testing data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [55]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.9470588235294117